# All settings are optional; defaults shown.
OSIPY_API_CORS_ORIGINS=["http://localhost:60010"]
OSIPY_API_DATA_TTL_SECONDS=3600
OSIPY_API_MAX_DATASETS=5
OSIPY_API_MAX_JOBS=5
OSIPY_API_MAX_UPLOAD_BYTES=536870912
OSIPY_API_MAX_TOTAL_BYTES=2147483648
OSIPY_API_HOST=127.0.0.1
OSIPY_API_PORT=8000
